{% extends 'feed/_base.html' %} {% load crispy_forms_tags %} {% block body %}
<div class="content-section">
  <section class="profile">
    <nav class="profile__nav">
      <div class="profile__img">
        <img
          class="rounded-circle account-img"
          src="{{ userProfile.profile.image.url }}"
        />
      </div>

      <div class="profile__info">
        <div class="profile__settings">
          <h1>{{ userProfile.username }}</h1>
          {% if is_ownProfil %}
          <a href="{% url 'editProfile' %}">Edit Profile</a>
          <a href="{% url 'editProfile' %}">Settings</a>
          <a class="text-black nav-link" href="{% url 'logout' %}">Logout</a>

          {% else %} {% if is_follower %}
          <p data-user-id="{{userProfile.id}}" class="profile__unfollow">
            Unfollow
          </p>
          {% else %}
          <p data-user-id="{{userProfile.id}}" class="profile__follow">
            Follow
          </p>
          {% endif %} {% endif %}
        </div>
        <ul class="profile__stats">
          <li><span>{{ postCount }}</span> Beiträge</li>

          <li class="profile__follower" data-user-id="{{ userProfile.id }}">
            <span>{{userProfile.folgt.all.count }}</span> Abbonenten
          </li>
          <li class="profile__followed" data-user-id="{{ userProfile.id }}">
            <span>{{ abboniert}}</span> abboniert
          </li>
        </ul>
        <div class="profile__description">{{ userProfile.description }}</div>
      </div>
    </nav>

    <div class="media-body"></div>
  </section>
  <section class="up">
    {% for post in posts %}

    <a
      href="{% url 'post-detail' post.id %}"
      class="up__bg d-flex align-items-center justify-content-center"
      style="background-image: url('{{ post.image.url }}');"
    >
      <div class="up__info text-white">
        <p>{{ post.likes.all.count}}</p>
      </div>
    </a>
    {% endfor %}
  </section>

  <!-- Modal-->

  <div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">folgt</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
